@import url(../fonts/inter-ui/font-face.css);

@import url(../fonts/icons/font-face.css);

@import url(dlmenu.css);

body {
	margin: 0px;
	width: 100%;
	font-family: InterUI, sans-serif;
	font-weight: 400;
	color: #031B30;
	background: #FFF;
	font-size: 16px;
}

@media screen and (max-width: 1080px) {
	body {
		font-size: 15px;
	}
}

@media screen and (max-width: 768px) {
	body {
		font-size: 14px;
	}
}

::-moz-selection {
	color: #FFF;
	background: #c14b14;
}

::selection {
	color: #FFF;
	background: #c14b14;
}

a {
	position: relative;
	text-decoration: none;
	outline: none;
}

a img {
	border: none;
}

ul, ol {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
	display: block;
	margin: 0px;
	padding: 0px;
	font-weight: 400;
}

footer {
	display: block;
}

.center {
	text-align: center;
}

.center * {
	margin-left: auto !important;
	margin-right: auto !important;
}

.wrapper {
	width: 88%;
	max-width: 1500px;
	margin: 0 auto;
	position: relative;
}

@media screen and (max-width: 520px) {
	.wrapper {
		width: 92%;
	}
}

header {
	font-size: 0px;
	padding: 20px 0px;
}

@media screen and (max-width: 1080px) {
	.extra_nav>li {
		margin-right: 15px;
	}
}

@media screen and (max-width: 768px) {
	.extra_nav>li {
		margin-right: 12px;
	}
}

@media screen and (max-width: 1080px) {
	header {
		padding: 15px 0px;
	}
}

@media screen and (max-width: 768px) {
	header {
		padding: 12px 0px;
	}
}

@media screen and (max-width: 520px) {
	header {
		text-align: center;
	}
}

nav.bottom_border {
	border-bottom: 1px solid #E0E5EA;
}

nav {
	position: relative;
	border-top: 1px solid #E0E5EA;
}

nav ul.extra_nav {
	position: absolute;
	right: 5px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 10;
}

.content_container ul.extra_nav>li:last-child {
	margin-right: 0px;
}

.content_container ul.extra_nav>li {
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
}

.content_container .extra_nav a.button:hover {
	background: #E86020;
	color: #FFF;
	border-color: #FFF;
}

.content_container .extra_nav a.button {
	display: inline-block;
	color: #E86020;
	background: #FFF;
	min-width: 90px;
	border: 1px solid #E86020;
	box-sizing: border-box;
	text-align: center;
	border-radius: 5px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

.content_container .extra_nav a.button {
	padding: 0px 9px;
	line-height: 40px;
}

@media screen and (max-width: 1080px) {
	.content_container .extra_nav a.button {
		line-height: 37px;
		padding: 0px 6px;
		margin-top: 10px;
	}
}

@media screen and (max-width: 768px) {
	.content_container .extra_nav a.button {
		line-height: 34px;
		padding: 0px 4px;
	}
}

nav ul.sub_nav>li {
	position: relative;
}

nav ul.sub_nav>li>a {
	color: #031B30;
	padding: 20px 0px;
}

nav ul.sub_nav>li>a:before {
	height: 3px;
}

nav ul.sub_nav>li>a>i {
	font-size: 0.8em;
}

nav ul.sub_nav>li.active>a:before {
	background: #E86020;
}

.max_content_width {
	max-width: 720px;
}

.padb_small2 {
	padding-bottom: 20px;
}

@media screen and (max-width: 1080px) {
	.padb_small2 {
		padding-bottom: 8px;
	}
}

@media screen and (max-width: 768px) {
	.padb_small2 {
		padding-bottom: 5px;
	}
}

.medium_heading {
	font-size: 1.25em;
}

@media screen and (max-width: 1080px) {
	.medium_heading {
		font-size: 18px;
	}
}

@media screen and (max-width: 768px) {
	.medium_heading {
		font-size: 16px;
	}
}

.main_big_heading {
	font-size: 2.875em;
}

@media screen and (max-width: 1080px) {
	.main_big_heading {
		font-size: 36px;
	}
}

@media screen and (max-width: 768px) {
	.main_big_heading {
		font-size: 26px;
		line-height: 52px;
	}
}

.error_page {
	margin: 20px 0px;
	background: url(../images/bg-map.png) no-repeat center;
	background-size: contain;
}

.content_container {
	padding: 44px 0px;
}

@media screen and (max-width: 1080px) {
	.content_container {
		padding: 40px 0px;
	}
}

@media screen and (max-width: 768px) {
	.content_container {
		padding: 33px 0px;
	}
}

.extra_nav {
	padding-bottom: 230px;
	padding-top: 30px;
}

@media screen and (max-width: 1080px) {
	.extra_nav {
		padding-bottom: 180px;
		padding-top: 15px;
	}
}

.copyright {
	position: fixed;
	width: 100%;
	bottom: 0%;
	background: #f8f9fa;
	color: rgba(3, 27, 48, 0.77);
	padding: 5px 0;
	font-size: 0.875em;
}